<!-- home.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="hero">
    <div class="hero-content">
        <h1>Bem vindo ao meu Portefólio</h1>
        <p>Aprender é uma jornada interminável. Mantenha-se curioso e nunca pare de explorar.</p>
    </div>
</div>

<article class="scroll-element">
    <section id="about">
        <div class="container">
            <h1>Olá, chamo-me Guilherme Simão</h1>
            <p>Olá!, eu chamo-me Guilherme e tenho 19 anos, estou atualmente a tirar a Licenciatura de Engenharia Informática.</p>
            <p>Neste portefólio poderás encontrar tudo o que quiseres, desde as escolas que eu frequentei até ao que realmente importa, as minhas skills efetivas</p>
        </div>
    </section>
</article>

<article class="scroll-element">
    <section id="about">
        <div class="container">
            <h2>Sobre mim</h2>
            <p>Estudante Universitário</p>
            <p>Alguns aspetos sobre mim:</p>
            <ul>
                <li>Desde pequeno que gostei de mexer em computadores</li>
                <li>São tão chato que chega a irritar</li>
                <li>Gosto bastante de ajudar pessoas</li>
                <li>O meu maior hobbie é ir passear à terrinha</li>
            </ul>
        </div>
    </section>
</article>

{% endblock %}