{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
    <h1 class="h1projetos">Notícias</h1>
    <p class="projetos">Top 10 noticias Medium:</p>

    <ul>
        {% for noticia in noticias %}
        <li>
            <h2>{{ noticia.titulo }}</h2>
            <p>{{ noticia.texto|truncatewords:3 }}</p>
            <img src="{{ noticia.imagem_url }}" alt="{{ noticia.titulo }}">
            <a href="{{ noticia.link }}">Leia mais</a>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}