{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
    <h1 class="h1projetos">Notícias</h1>
    <p class="projetos">Top 10 noticias Medium:</p>

    <ul class="ulprojetos">
        {% for noticia in noticias %}
        <li class="liprojetos">
            <strong>{{ noticia.titulo }}</strong>
            <p class="projetos">{{ noticia.descricao }}</p>
            <img src="{{ noticia.imagem_url }}" alt="{{ noticia.titulo }}">
            <a class="aprojetos" href="{{ noticia.link }}">Ler mais</a>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}