{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
    <h1 class="h1projetos">Projetos Escolares</h1>
    <p class="projetos">Projetos desenvolvidos no âmbito escolar:</p>
    <ul class="ulprojetos">
        {% for projeto in projetos %}
        <li class="liprojetos">
            <strong>{{projeto.titulo}}</strong><br>
            {% if projeto.imagem.url is not None %}
                <img src="{{projeto.imagem.url}}"><br>
            {% endif %}
            <span class="spanprojetos">{{projeto.descricao}}</span><br>
            <span class="spanprojetos"><b>Ano Realização: </b>{{projeto.anoRealizacao}}</span>
            <span class="spanprojetos"><b>Participantes: </b>{% for participante in projeto.participantes.all %}{{participante.nome}}; {% endfor %}</span>
            <span class="spanprojetos"><b>Tecnologias: </b>{% for tecnologia in projeto.tecnologias.all %}{{tecnologia.nome}} {% endfor %}</span>
            {% if projeto.linkGitHub is not None %}
                <a class="aprojetos" href ="{{projeto.linkGitHub |default_if_none:'#'}}">Link GitHub</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>





{% endblock %}