{% extends 'portfolio/layout.html' %}

{% block main %}


<div class="wrapper">
    <h1 class="h1projetos">Projetos Final de Curso</h1>
    <p class="projetos">Top 6 Projetos Finais:</p>
    <ul class="ulprojetos">
        {% for tfc in tfcs %}
        <li class="liprojetos">
            <strong>{{tfc.titulo}}</strong><br>
            {% if tfc.imagem.url is not None %}
                <img src="{{tfc.imagem.url}}"><br>
            {% endif %}            <span class="spanprojetos">{{tfc.sumario}}</span><br>
            <span class="spanprojetos"><b>Ano Realização: </b>{{tfc.anoRealizacao}}</span>
            <span class="spanprojetos"><b>Autores: </b>{% for autor in tfc.autor.all %}{{autor.nome}}; {% endfor %}</span>
            <span class="spanprojetos"><b>Orientador: </b>{% for orientador in tfc.orientador.all %}{{orientador.nome}}; {% endfor %}</span>
            {% if tfc.link_relatorio is not None %}
                <a class="aprojetos" href ="{{tfc.link_relatorio}}" target="_blank">Link Relatório</a><br>
            {% endif %}
            {% if tfc.linkGitHub is not None %}
                <a  class="aprojetos"href ="{{tfc.linkGitHub}}" target="_blank">Link GitHub</a><br>
            {% endif %}
            {% if tfc.linkYt is not None %}
                <a class="aprojetos" href ="{{tfc.linkYt}}" target="_blank">Link Vídeo</a><br>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}