{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
    <h1 class="h1projetos">Sobre este Website</h1>
    <p class="projetos">Este website foi criado utilizando as seguintes tecnologias:</p>
    <p class="projetos">
        O Website é constituido por 15 páginas (Home, Aptidoes, Blog, Contacto, laboratorios, licenciatura, login, logout, noticias, projetoscurso, projetosescola, projetospessoais, sobre, tecnicas e por fim tecnologias existentes ).
        Foi desenvolvido usando HTML, CSS , JS e Django para permitir o rápido desenvolvimento da mesma
        Aqui poderão observar toda a informação relevante da licenciatura e sobre mim, possui também um blog onde outras pessoas podem dar feedback sobre projetos
        que realizaram ou podem vir a realizar comigo.
        O Principal objétivo deste portefólio é cumprir todas as regras pedidas no Projeto de PW
    </p>

    <br>
    <br>
    <br>
    <br>

    <ul class="ulprojetos">
        {% for tecnologia in tecnologiasusadas %}
            <li class="liprojetos">
                <strong> <a class="aprojetos" href="{{tecnologia.link}}" target="_blank">{{tecnologia.nome}} : {{tecnologia.acronimo}}</a></strong>
                <img src="{{tecnologia.logotipo.url}}" class = "logo_tecnologia"><br>
                <span class="spanprojetos"><b>Ano Criação: </b>{{tecnologia.anoCriacao}}</span>
                <span class="spanprojetos"><b>Criador: </b>{{tecnologia.criador}}</span>
                <span class="spanprojetos">{{tecnologia.descricao}}</span><br>
            </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}