
{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
  <h1 class="h1projetos">Tecnologias</h1>
  <p class="projetos">Nesta página estão as técnologias pedidas no enunciado de PW:</p>

    <ul class="ulprojetos">
        {% for tecnologia  in tecnologiasexistentes %}
            <li class="liprojetos">
                <strong> <a class="aprojetos" href="{{tecnologia.link}}" target="_blank">{{tecnologia.nome}} : {{tecnologia.acronimo}}</a></strong>
                <img src="{{tecnologia.logotipo.url}}" class = "logo_tecnologia"><br>
                <span class="spanprojetos"><b>Ano Criação: </b>{{tecnologia.anoCriacao}}</span>
                <span class="spanprojetos"><b>Criador: </b>{{tecnologia.criador}}</span>
                <span class="spanprojetos">{{tecnologia.descricao}}</span><br>
            </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}


